<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="inicio.css"> -->

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HISTOMED - Login Centro Medico</title>
    </head>

    <body>
        <!--Barra Navegadora-->
        <div th:replace="nav-bar.html :: nav-bar"></div>
        <br>
        <br>
        <br>
        <section class="vh-100" style="background-color: #ffffff;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                        <div class="card" style="border-radius: 1rem;">
                            <div class="row g-0">
                                <div class="col-md-6 col-lg-5 d-none d-md-block">
                                    <img
                                        src="/imagenes/centro-img-2.jpg"
                                        alt="" class="card-img-bottom" style="border-radius: 1rem 0 0 1rem; " />
                                </div>
                                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                    <div class="card-body p-4 p-lg-5 text-black">



                                        <div class="d-flex align-items-center mb-3 pb-1">

                                            <img src="/imagenes/Logo.png">

                                        </div>

                                        <h5 class="glyphicon glyphicon-user" style="letter-spacing: 1px;">Ingreso - Centro Medico</h5>

                                        <form id="loginform" class="form-horizontal" role="form" th:action="@{/CentroMedico/login}" action="CentroMedico/login" method="POST">

                                            <div th:if="${param.error}" class="alert alert-danger">
                                                Usuario o contraseña no valido
                                            </div>
                                            <div th:if="${param.logout}" class="alert alert-success">
                                                Ha cerrado la sesión
                                            </div>


                                            <div style="margin-bottom: 30px" class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input id="login-username" type="text" class="form-control" name="username" value=""
                                                       placeholder="Ingrese su matricula">
                                            </div>

                                            <div style="margin-bottom: 30px" class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                <input id="login-password" type="password" class="form-control" name="password"
                                                       placeholder="Ingrese su contraseña">
                                            </div>



                                            <div class="input-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input id="login-remember" type="checkbox" name="remember" value="1"> Recuerdame
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="pt-1 mb-4">
                                                <button class="btn btn-dark btn-block" type="submit"
                                                        style="margin-bottom: 25px">Ingresar</button>
                                                <br/><!-- comment -->
                                                <a class="small text-muted" href="#!">Olvidaste tu contraseña?</a><!-- comment -->
                                            </div>



                                            <a th:href="@{/NuevoCentroMedico}" class="btn btn-success "> Registrar Nuevo Centro Medico</a>







                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div th:replace="footer.html :: footer"></div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
                integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    </body>

    <!-- Footer -->
    <!--<footer class="text-center text-lg-start bg-light text-muted">
       Section: Social media 
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
         Left 
        <div class="me-5 d-none d-lg-block">
          <span>Seguinos en nuestras redes:</span>
        </div>
         Left 
    
         Right 
        <div>
          <a href="https://www.facebook.com/histomed/" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://twitter.com/histomed?lang=es" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="https://www.instagram.com/histomed/" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
           Right 
      </section>
       Section: Social media 
    
       Section: Links  
      <section class="">
        <div class="container text-center text-md-start mt-5">
           Grid row 
          <div class="row mt-3">
             Grid column 
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
               Content 
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>HISTOMED
              </h6>
              <p>
                Somos una empresa que brinda soluciones
                eficaces a las necesidades de pacientes,
                profesionales de la salud y centros medicos.
              </p>
            </div>
             Grid column 
    
             Grid column 
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
               Links 
              <h6 class="text-uppercase fw-bold mb-4">
                Productos
              </h6>
              <p>
                <a href="#!" class="text-reset">HISTOMED</a>
              </p>
              <p>
                <a href="#!" class="text-reset">TEAM 5.1</a>
              </p>
              <p>
                <a href="#!" class="text-reset">TEAM 5.2</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Laravel</a>
              </p>
            </div>
             Grid column 
    
             Grid column 
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
               Links 
              <h6 class="text-uppercase fw-bold mb-4">
                Links de utilidad
              </h6>
              <p>
                <a href="https://www.argentina.gob.ar/salud" class="text-reset">Ministerio de salud</a>
              </p>
              <p>
                <a href="https://www.mendoza.gov.ar/salud/" class="text-reset">Ministerio de salud</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Orders</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Help</a>
              </p>
            </div>
               Grid column 
    
               Grid column 
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                 Links 
                <h6 class="text-uppercase fw-bold mb-4">
                  Contacto
                </h6>
                <p><i class="fas fa-home me-3"></i> Mendoza - Argentina</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  info@example.com
                </p>
                <p><i class="fas fa-phone me-3"></i> + 261 5919191</p>
                <p><i class="fas fa-print me-3"></i> + 351 5929292</p>
              </div>
               Grid column 
            </div>
             Grid row 
          </div>
      </section>
       Section: Links  
    
       Copyright 
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="#">Team 5</a>
      </div>
       Copyright 
    </footer>-->
    <!-- Footer -->

</html>