<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <!-- javascript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" />
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../static/css/doctor.css" th:href="@{../css/doctor.css}" />
    <!--  Link Archivo del estilo CSS-->
    <link rel="stylesheet" href="../../static/css/doctor.css" th:href="@{../css/doctor.css}"/>
    <!--Link del archivo del estilo de la sidebar-->
    <link rel="stylesheet" href="../../static/css/sidebar.css" th:href="@{../css/sidebar.css}"/>

    <title>Registrese</title>
</head>

<body>

    <div th:replace="/CentroMedico/sidebarCentroMedico.html :: sidebarCentroMedico"></div>
    <div class="centrado">
        <h1>Registro de Doctores </h1>
        <form class="need-validation " th:action="@{/CentroMedico/NuevoMedico2}" th:object="${medico}" method="POST">
            <div th:if="${mensaje != null}">
                <p th:text="${mensaje}" class="alert alert-danger"></p>
            </div>

            <div class="col-md-offset">
                <div class="form-group col-md-12 ">
                    <label for="exampleInputNombre"></label>
                    <br />
                    <input type="number" class="form-control " id="nombre" aria-describedby="nombreHelp"
                           name="matricula" th:field="*{matricula}" placeholder="Ingrese su matricula" />

                </div>
                <div class="form-group col-md-12">
                    <label for="exampleInputNombre"></label>
                    <br />
                    <input type=text class="form-control" id="dni" aria-describedby="dniHelp" name="nombre"
                           th:field="*{nombre}" placeholder="Ingrese su nombre" />

                </div>
                <div class="form-group col-md-12">
                    <label for="exampleInputNombre"></label>
                    <br />
                    <input type=text class="form-control" id="matricula" aria-describedby="dniHelp" name="apellido"
                           th:field="*{apellido}" placeholder="Ingrese su apellido" />

                </div>



                <div class="form-group col-md-12"> Seleccione su fecha de nacimiento

                    <input class="form-control" id="matricula" name="fechaNac" th:field="*{fechaNac}" type="date" />
                </div>

                <div class="form-group col-md-12">
                    <label for="matricula" class="col-sm-2 control-label col-md-12">Seleccione su genero </label>
                    <div class="col-sm-2 col-md-12">
                        <select class="form-control inputstl" id="genero" name="genero" th:field="*{genero}">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>

                </div>

            </div>
            <div class="form-group col-md-12">
                <label for="exampleInputEmail1"></label>
                <br />
                <input type="email" class="form-control" id="matricula" aria-describedby="emailHelp" name="mail"
                       th:field="*{mail}" placeholder="Ingrese su email" />

            </div>
            <br />
            <div class="form-group col-md-12">
                <label for="exampleInputNombre">Seleccione la provincia en la que ejerce</label>
                <label for="exampleInputNombre"></label>
                <select class="form-control inputstl camposFormulario" id="provincia" aria-describedby="provinciaHelp"
                        name="provincia" th:field="*{provincia}">
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="exampleInputNombre">Seleccione la ciudad en la que ejerce</label>
                <br>
                    <select class="form-control camposFormulario" id="ciudad" aria-describedby="ciudadHelp" name="ciudad"
                            th:field="*{ciudad}" placeholder="">
                    </select>
            </div>

            <div class="form-group col-md-12">
                <label for="exampleInputPassword1"></label>
                <br />
                <input type="password" class="form-control" id="matricula" name="clave" th:field="*{clave}"
                       placeholder="Ingrese su contraseña" />
            </div>
            <div class="form-group col-md-12">
                <label for="exampleInputPassword1"></label>
                <br />
                <input type="password" class="form-control" id="clave2" name="clave2" th:name="clave2"
                       placeholder="Ingrese nuevamente su contraseña" />
            </div>

            <div class="form-group col-md-12">
                <label for="exampleInputNombre"></label>
                <br />
                <input type=text class="form-control" id="matricula" aria-describedby="especialidad1Help"
                       name="especialidad1" th:field="*{especialidad1}" placeholder="Ingrese su especialidad" />

            </div>
            <div class="form-group col-md-12">
                <label for="exampleInputNombre"></label>
                <br />
                <input type=text class="form-control" id="matricula" aria-describedby="especialidad2Help"
                       name="especialidad2" th:field="*{especialidad2}" placeholder="Ingrese si tiene otra especialidad" />

            </div>
            <div class="form-group col-md-12">
                <label for="exampleInputNombre"></label>
                <br />
                <input type=text class="form-control" id="matricula" aria-describedby="especialidad3Help"
                       name="especialidad3" th:field="*{especialidad3}"
                       placeholder="Ingrese si tiene otra especialidad mas" />

            </div> 
<!--            <div class="form-group col-md-6">
                <label for="exampleInputNombre"></label>
                <br/>
                <input type=text class="form-control" id="matricula" aria-describedby="especialidad3Help" name="centroMedicos" placeholder="Ingrese el centro medico en el cual atiende"/>

            </div> -->
            <br />
            <button type="submit" class="btn btn-primary">Registrarse</button>

        </form>
    </div>
    <!-- Fragment Footer-->
    <div th:replace="footer.html :: footer"></div>

    <script src="../../static/scripts/index.js" th:src="@{../../scripts/index.js}" ></script>

    <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

</body>

</html>
