
.inicio:hover{
    border-bottom: 2px solid #D1F0E8;

}
.paciente:hover{
    border-bottom: 2px solid #D1F0E8;

}
.doctor:hover{
    border-bottom:2px solid #D1F0E8;

}
.clinica:hover{
    border-bottom:2px solid #D1F0E8;
}
.faq:hover{
    border-bottom:2px solid #D1F0E8;
}

body{
    background-color: #b1cdfa;
    }
.centrado {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
  h1 {
border-bottom: 2px solid #4181e8;
}

input{
    border-radius: 5px;
}
