.inicio:hover{
    border-bottom: 2px solid #D1F0E8;

}
.paciente:hover{
    border-bottom: 2px solid #D1F0E8;

}
.doctor:hover{
    border-bottom:2px solid #D1F0E8;

}
.clinica:hover{
    border-bottom:2px solid #D1F0E8;
}
.faq:hover{
    border-bottom:2px solid #D1F0E8;
}

body{
    background-color: #D1F0E8;
}
.centrado {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .centrado{
      border: 2px solid lightcyan;
  }
