<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HISTOMED - Añadir Estudio</title>
</head>
<body>
<h1>Registro de Pacientes </h1>
            <form class="need-validation" th:action="@{/usuario/guardar}" method="POST">
                <div class="form-group col-md-6">
                     
                    <br>
   <input type=string class="form-control" id="id" aria-describedby="idHelp" name="id" placeholder="ID PACIENTE">

 </div> 
                
                <div class="form-group col-md-6 " >
                     
                     <br>
    <input type=text class="form-control" id="DNI" aria-describedby="DNIHelp" name="DNI" placeholder="DNI">

  </div>
               <div class="form-group col-md-6">
                     
                     <br>
    <input type=date class="form-control" id="fechaVisita" aria-describedby="fechaVisitaHelp" name="fechaVisita" placeholder="FECHA VISITA">

  </div>  

  <div class="form-group col-md-6">
                     
    <br>
<input type=date class="form-control" id="especialidad" aria-describedby="especialidadHelp" name="especialidad" placeholder="ESPECIALIDAD">

</div> 

<div class="form-group col-md-6">
                     
    <br>
<input type=integer class="form-control" id="matriculaInforme" aria-describedby="matriculaInformeHelp" name="matriculaInforme" placeholder="MATRICULA INFORME">

</div> 
<div class="form-group col-md-6">
                     
    <br>
<input type=integer class="form-control" id="matriculaPide" aria-describedby="matriculaPideHelp" name="matriculaPide" placeholder="MATRICULA PIDE">

</div> 
<div class="form-group col-md-6">
                     
    <br>
<input type=integer class="form-control" id="centroMedico" aria-describedby="centroMedicoHelp" name="centroMedico" placeholder="CENTRO MEDICO">

</div> 
<div class="form-group col-md-6">
                     
    <br>
<input type=string class="form-control" id="archivo" aria-describedby="archivoHelp" name="archivo" placeholder="ARCHIVO">

</div> 
<div class="form-group col-md-6">
                     
    <br>
<input type=string class="form-control" id="informe" aria-describedby="informeHelp" name="informe" placeholder="INFORME">

</div> 


                <br>
  <button type="submit" class="btn btn-primary">Registrarse</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>