<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" >
    <head> 
        <title>Gestor de Archivos</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
        <link rel="stylesheet" href="../static/css/estilogeneral.css" th:href="@{/css/estilogeneral.css}" />
    </head>
    <body>
        <div class="container-fluid text-center"> 
         
        <div>
            <h1>Administrador de Archivos</h1>
            
            <div class="text-success">
            <h3> [[${message}]]</h3>
            </div>
            <div class="row border rounded">
                <th:block th:each="doc : ${listarchivos}">
                    <div class="col">
                        <div>
                            <img th:src="@{imagenes/file.png}" width="50"/>
                    </div>
                        <div>
                            <a th:href="@{download(nombre=${doc.id})}" >[[${doc.nombre}]] </a>
                        </div>
                        <div>
                           
                        </div>
                </th:block>
                
            </div>
 
         
            
            
            
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<form th:action="@{/upload}"  method="post" enctype="multipart/form-data" target="_blank">

  <p>
    <input type="file" name="archivo" required />

    <input type="submit" value="Enviar datos">
    <br>
    <br>
        <br>

<a>

</a>

  </p>

</form>
            






       

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


    </body>
</html>
